.headerContainer {
  height: 5rem;
}

.headerContent {
  max-width: 900px;
  height: 3rem;
  margin: 1rem auto 0;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  img:first-child {
    margin-right: 1rem;
  }
  img:last-child {
    margin-left: 0.3rem;
  }
}
